<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsmlTrc3ZtDDh8mDOtdxjn_tVyIXuGqWA</string>
	<key>GCM_SENDER_ID</key>
	<string>246416598152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommece-e1b2e</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommece-e1b2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246416598152:ios:1bae9dbff015a713962b3d</string>
</dict>
</plist>